*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --white: #F9F9F9;
  --off-white: #EBEBEB;
  --off-black: #1F1F1F;
  --red: #EE5622;
  --green: #636940 ;
}

body{
  font-family: 'Proza Libre', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

.largeCopy{
  font-size: 2.6rem
}

.mediumCopy{
  font-size: 1.6rem;
}

.smallCopy{
  font-size: 0.9rem;
}

.navLink{
  font-size: 1.6rem;
  font-weight: 600;
}

.navLink:hover{
  cursor: pointer;
  color: var(--off-black);
}

.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #110B11;
}

.rightNav{
  display: flex;
  gap: 20px;
}